.nav-bar {
  display: block;
  z-index: 1;
  width: 100vw;
  background-color: #404040;
}

.site-name {
  float: left;
  color: white;
  margin-left: 60px;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

.links {
  float: right;
  margin-top: 55px;
  margin-right: 100px;
}

.nav-link {
  padding: 0;
  border-bottom: 3px solid transparent;
  margin-right: 40px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: white;
}

.nav-link:hover {
  border-bottom: 3px solid white;  
}

/* .links {
  left: 400px;
} */