.ride-list {
  margin-top: 40px;
  width: 300px;
}

.ride-item {
  padding: 10px 0;
}

.ride-item:hover {
  background-color: pink;
}

.ride-page {
  margin-top: 72px;
  height: calc(100vh - 90px);
  background-color: grey;
  width: 300px;
  display: flex;
  overflow: scroll;
}

.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 300px;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif; 
  background-color: #2E4163; 
  text-decoration: none;
  height: 60px;
  color: white;
  border: none;
  cursor:pointer;
}

.offer-btn:hover {
  background-color: #253450;
}

.current-location-form { 
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  display: flex;
  height: 50px;
}

.current-location-form input {
  border: none;
  outline: none;
}

.street-input, .city-input, .state-input {
  height: 50px;
  font-size: 1.7rem;
}

.street-input {
 width: 155px;
}

.city-input {
  width: 95px;
} 

.state-input {
  width: 50px;
}

.address-sbmt-btn {
  height: 30px;
  width: 80%;
  margin: 4px auto;
  background-color: #2E4163;
  color: white;
  font-family: 'Roboto', sans-serif; 
  border-radius: 15px;   
}

.address-sbmt-btn:hover {
  background-color: #253450
}
