.ride-list {
  width: 200px;
}

.ride-item {
  padding: 10px 0;
}

.ride-item:hover {
  background-color: pink;
}

.ride-page {
  margin-top: 90px;
  height: calc(100vh - 90px);
  background-color: grey;
  width: 200px;
  display: flex;
  overflow: scroll;
}

.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 200px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;  
  background-color: #404040;
  text-decoration: none;
  height: 60px;
  color: white;
  border: none;
  cursor:pointer;
}