.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.signup-input {
  height: 40px;
  margin-top: 0px;
  border: none;
  padding: 4px;
  background-color: white; 
  border-radius: 5px;
}

.signup-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.signup-form label {
  margin-top: 20px;
  margin-bottom: 0;
}