.user-rides-container {
  position: absolute;
  z-index: 4;
  height: 400px;
  width: 600px;
  top: calc(50% - 200px);
  bottom: calc(50% - 200px);
  left: calc(50% - 300px);
  right: calc(50% - 300px);
  background-color: #577BBD;
  overflow: scroll;
  border-radius: 5px;
}

.user-rides-container h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;   
}

.ride-item {
  margin-top: 8px;
  margin-right: 40px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.776);
  list-style: none;
  border-radius: 5px;
}

.ride-item:hover {
  background-color: rgba(245, 245, 245);  
}

.ride-info {  
  display: flex;
}

.user-rides-return-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;     
}

.user-rides-return-btn:hover {
  border: 2px solid #FAA10E;
  color: #FAA10E;  
}

.seating-info, .car-info, .destination-info, .time-info  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  width: 80px;
  font-size: 1.5rem;
}

.seating-info {
  font-size: 1.5rem;
}

.destination {
  display: block;
}

.img-container {
  width: 80px;
  margin-right: 10px;
  border-right: 2px solid black;
}

.driver-img {
  margin-right: 10px;
}

.car-img {
  width: 40px;
}

.pin-img {
  width: 40px;
}

.seat-img {
  width: 40px;
}

.calendar-img {
  width: 40px;
}

.ride-info div {
  display: flex;
  align-items: center;
  justify-content: center;
}
