.App {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #585858;
}

.nav-container {
  position: fixed;
  height: 90px;
  top: 0;
  z-index: 3;
  background-color: #404040;  
}

.error-container {
  position: fixed;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  top: calc(50% - 100px);
  bottom: calc(50% - 100px);
  right: calc(50% - 200px);
  left: calc(50% - 200px);
  height: 200px;
  width: 400px;
  border-radius: 8px;
  background-color: white;
  font-size: 2rem;
}

.error-close-btn {
  background-color: #DC0CE8;
  margin-top: 10px;
  border-radius: 3px;
}

.error-container h1 {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 8px 8px 0 0;
  text-align: center;
  top: 0;
  background-color: grey;
}


